.root{
-fx-font-size: 10pt;
-fx-font-family: "Georgia";
-fx-base:rgb(48,48,48);
-fx-background-image: url(../resource/image/background.jpg);
-fx-background-repeat:no-repeat ;
-fx-text-fill: #FF4D2C;
}
.button{
    -fx-text-fill:rgb(255,255,255);
    -fx-font-size:10pt;
    -fx-base: rgb(48,48,48);
     -fx-background-radius: 20;  
    -fx-font-family:"Georgia";
     
}
#enter_button{
-fx-font-size:40pt;	
-fx-background-radius:50
}
#movie_button{
-fx-font-size:40pt;	
-fx-background-radius:50
}


.label{
	-fx-text-fill:rgb(255,255,255);
	-fx-font-size: 12pt;
    -fx-font-family: "XTXihei";
    -fx-base:#FF4CFA;
}

#welcome_label{
	-fx-font-size: 30pt;
	-fx-text-fill:rgb(0,0,0);
}
#askFunction_label{
	-fx-font-size: 20pt;
	-fx-text-fill:rgb(0,0,0);	
}
#movieChoose_label{
	-fx-text-fill:rgb(0,0,0);
}

